/* Configurations for Portfolio */
// $website-width: 1200px;
$background_color: #46637c;
$primary-font-color: #f1eae7;

@mixin easeOut {
  transition: all 1s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  font-size: 16px;
  font-family: "Kurale", serif;
  background: $background_color;
  line-height: 2.2rem;
}
