@media only screen and (min-width: 681px) {
  header {
    width: 100vw;
    background-color: $background-color;
    text-align: center;
    .header-left {
      h4 {
        position: fixed;
        left: 20vw;
        margin-top: 5px;

        font-size: 24px;
      }
    }

    .nav-link-container {
      // background: #f89490;
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      justify-content: space-evenly;
      width: 60vw;
      align-items: center;
      height: 6vh;
      .nav-links {
        display: inline-flex;
        width: 50%;
        justify-content: space-evenly;
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        .nav-link-item {
          opacity: 0.8;

          transition: 0.3s;
          width: 160px;
          margin: 0.5rem;
          border-radius: 15px;
          color: #f2f2f2;

          &:hover {
            transform: scale(1.3);
            font-size: calc(16px * 1.3);

            // color: #fd7772;

            // color: blue;
          }
        }

        i::before {
          padding: 0.2rem;
        }
      }
    }
    .social {
      visibility: hidden;
    }
  }

  #home-a {
    .container {
      height: 100%;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h3 {
        // margin-top: 20rem;
        opacity: 0.3;
        margin: 3rem;
        font-size: 4rem;
        padding-bottom: 1rem;
      }
      h1 {
        // margin: 3rem;

        font-size: 6rem;
      }
      p {
        opacity: 0.3;
        padding-top: 1rem;
        margin: 3rem;
        font-size: 2rem;
      }
    }
    .index-links {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      // align-self: start;
      // flex-direction: column;
      .link-primary {
        width: 200px;
        text-align: center;
        margin: 1rem;
        cursor: pointer;
        font-size: 22px;
        border-radius: 5px;
        background-color: #e7b157;
        box-shadow: rgba(0, 0, 0, 1) 1.95px 1.95px 2.6px;
        color: #f2f2f2;
        padding: 15px;
        &:hover {
          transform: scale(1.3);
        }
      }
      .link-secondary {
        width: 180px;
        text-align: center;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 1) 3px 3px 2.6px;
        margin: 1rem;
        font-size: 22px;
        border-radius: 5px;
        background-color: #5dbee8;
        color: #f2f2f2;
        padding: 15px;
        &:hover {
          transform: scale(1.3);
          // color: #5dbee8;
        }
      }
    }

    .socialIcons {
      position: relative;
      display: flex;
      justify-content: center;
      .socialItem {
        .fab {
          cursor: pointer;
          margin: 1rem;
          opacity: 0.6;
          // color: #000;
          transition: 0.3s;
          padding: 10px;
          &:hover {
            transform: scale(1.3);
            // color: #5dbee8;
          }
        }
      }
    }

    .circlePatternTop {
      visibility: visible;
      position: absolute;
      width: 168px;
      height: 112px;
      top: 10%;
      left: 5%;
      background-image: url(../assets/CirclePattern.svg);
    }
    .circlePatternBottom {
      visibility: visible;
      position: absolute;
      width: 168px;
      height: 112px;
      bottom: 15%;
      left: 5%;
      background-image: url(../assets/CirclePattern.svg);
    }
  }

  #about-a {
    margin: 7rem auto;
    text-align: center;

    .socialLinks {
      .fab {
        cursor: pointer;
        margin: 1rem;
        opacity: 0.6;
        transition: 0.3s;
        padding: 10px;
        &:hover {
          transform: scale(1.3);
          color: #5dbee8;
        }
      }
    }
    .socialStatsContainer {
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .circlePatternTop {
      visibility: visible;
      position: absolute;
      width: 168px;
      height: 112px;
      top: 10%;
      left: 5%;
      background-image: url(../assets/CirclePattern.svg);
    }
    .circlePatternBottom {
      visibility: visible;
      position: absolute;
      width: 168px;
      height: 112px;
      bottom: 15%;
      left: 5%;
      background-image: url(../assets/CirclePattern.svg);
    }
  }

  #project-a {
    .circlePatternTop {
      visibility: visible;
      position: absolute;
      width: 168px;
      position: fixed;
      height: 112px;
      top: 10%;
      left: 5%;
      background-image: url(../assets/CirclePattern.svg);
    }
    .circlePatternBottom {
      visibility: visible;
      position: absolute;
      width: 168px;
      position: fixed;
      height: 112px;
      bottom: 15%;
      left: 5%;
      background-image: url(../assets/CirclePattern.svg);
    }
  }

  #contact-a {
    margin: 7rem auto;
    .circlePatternTop {
      visibility: visible;
      position: absolute;
      width: 168px;
      height: 112px;
      top: 10%;
      left: 5%;
      background-image: url(../assets/CirclePattern.svg);
    }
    .circlePatternBottom {
      visibility: visible;
      position: absolute;
      width: 168px;
      height: 112px;
      bottom: 15%;
      left: 5%;
      background-image: url(../assets/CirclePattern.svg);
    }
  }
}
